/* -------------------------------------------------------------------------- */
/*                                 Custom Styles                              */
/* -------------------------------------------------------------------------- */

.avatar-post-list {
    border: 2px solid #777aff;
    border-radius: 50%;
    padding: 2px;
    width: 2rem;
    height: 2rem;
}
